@charset "UTF-8";

.wrapper {
  background-color: #eee;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  padding: 0 15px;
  background-color: orange;
  box-shadow: 0px 3px 3px #ccc;
}

.header-square {
  height: 40px;
  width: 130px;
  margin-right: auto;
  background-color: #fff;
  border-radius: 6px;
}

.header-left-circle {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.header-right-circle {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.content {
  margin: 10px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 1px #ddd;
}

.footer {
  height: 70px;
  background-color: #0c0036;
}
